arangodb:
    collections:
        followTopicV2: "v1_followTopicV2"
        followUser: "v1_followUser"
        publisherStory: "v1_publisherStory"
        reactions: "v1_reactions"
        responses: "v1_responses"
        stories: "v1_stories"
        topic: "v1_topic"
        userShare: "v1_userShare"
        userVotes: "v1_userVotes"
        users: "v1_users"
    host: "http://localhost:8529"
    database: "yowez"
    username: "root"
    password: ""
env: "development"
hello_service_target: "localhost:9002"
hostname: "localhost"
port: "9001"
